@model Usuario
@{
    ViewData["Title"] = "Perfil";
}
<link rel="stylesheet" href="~/css/perfil.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

<head>
    <title>Perfil</title>
</head>

<section>
    <div class="container inicio_perfil">
        <div class="posicionamento_fotoperfil">

            <a href="#"></a><img class="foto_perfil" src="~/Img/Usuarios/@ViewBag._UserFoto" alt=""></a>

            <div class="conteudo">

                <h1>@ViewBag._Username</h1>

                <div class="texto_conteudo">
                    <p>0 publicações</p>
                    <p>128 seguindo</p>
                    <p>214 seguidores</p>
                </div>

                <div class="desloga">
                    <h2>@ViewBag._UserNome</h2>
                    <a a asp-area="" asp-controller="EdicaoPerfil" asp-action="Index">Editar Perfil</a>
                    <a a asp-area="" asp-controller="Login" asp-action="Logout">Sair</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container publicacoes">
        <div class="conteudo_publicacoes">
            <img class="icone_publicacoes" src="~/assets_/icone_publicacoes.png" alt="" width="16px">
            <p>publicações</p>
        </div>
    </div>
</section>


<section>
    <div class="posicionamento">
        @foreach (var item in ViewBag.Posts)
        {
            <div class="container_post">
                <div class="organizacao_post">
                    <a href="#"><img class="fotopost" src="~/Img/Posts/@item.FotoPost" alt="foto post"></a>

                    <div class="complemento_post">
                        <div class="usuario">
                            <a href="#"><img class="foto_usuario" src="~/Img/Usuarios/@item.FotoUsuario" alt=""></a>

                            <div class="usuario_post">
                                <h3>@item.UsernameUsuario</h3>
                                <span class="local">@item.Descricao</span>
                            </div>
                        </div>

                        <div class="icones">
                            <div class="curtida_comentario">
                                <img src="~/assets_/Vector (1).png" alt="curtida">
                                <i class="far fa-comment"></i>
                            </div>
                            <p>1954 curtidas</p>
                        </div>

                        <div class="comentario">
                            <div class="user_comentario">
                                <span class="user">fausto_silva</span>
                                <span class="texto_comentario">Esse cara é fera bixo!!!</span>
                            </div>
                            <img class="coracao_pequeno" src="~/assets_/coracao_pequeno.png" alt="">
                        </div>

                        <div class="comentario">
                            <div class="user_comentario">
                                <span class="user">yes_baby</span>
                                <span class="texto_comentario">thank you</span>
                            </div>
                            <img class="coracao_pequeno" src="~/assets_/coracao_pequeno.png" alt="">
                        </div>

                        <div class="comentario">
                            <div class="user_comentario">
                                <span class="user">adriano_stark</span>
                                <span class="texto_comentario">Quando eu adormecer, vou sonhar com você. É sempre
                                    você.</span>
                            </div>
                            <img class="coracao_pequeno" src="~/assets_/coracao_pequeno.png" alt="">
                        </div>

                        <div class="comentario">
                            <div class="user_comentario">
                                <span class="user">yes_baby</span>
                                <span class="texto_comentario">Yes baby!!</span>
                            </div>
                            <img class="coracao_pequeno" src="~/assets_/coracao_pequeno.png" alt="">
                        </div>
                        <a class="todos_comentarios" href="#">Ver todos os 585 comentários</a>
                    </div>
                </div>
            </div>
        }
    </div>