<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoInstaDev</title>
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
</head>

<body>

@if (ViewData["Title"].ToString() != "Cadastro" && ViewData["Title"].ToString() != "Login")
{
    <header>
        <div class="container container_header">
            <a asp-area="" asp-controller="Feed" asp-action="Index" ><img class="logo" src="~/assets_/Instadev.png" alt=""></a>

            <input type="text" class="input" placeholder="Pesquisar">

            <nav class="menu_header">
                <a asp-area="" asp-controller="Feed" asp-action="Index"><img src="~/assets_/Vector.png" alt=""></a>
                <a href="#"><img src="~/assets_/plane 1.png" alt=""></a>
                <a href="#"><img src="~/assets_/compass 1.png" alt=""></a>
                <a href="#"><img src="~/assets_/Vector (1).png" alt=""></a>
                <a asp-area="" asp-controller="Perfil" asp-action="Index"><img class="fotoperfil" src="~/img/Usuarios/@ViewBag._UserFoto" alt="."></a>
            </nav>
        </div>
    </header>
    
}


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@if (ViewData["Title"].ToString() != "Cadastro" && ViewData["Title"].ToString() != "Login"){

    <footer>
        <div class="container_footer">
            <nav class="links">
                <p>Instadev 2021</p>
                <a href="#">-Suporte</a>
                <a href="#">-Política de privacidade</a>
                <a href="#">-Contato</a>
            </nav>

            <a asp-area="" asp-controller="Feed" asp-action="Index"><img class="logo" src="~/assets_/Instadev.png" alt=""></a>

            <nav class="mobile">
                <p>Baixe o app: </p>
                <a href="https://www.apple.com/br/app-store/"><img src="~/assets_/app_store 1.png"
                        alt=""></a>
                <a href="https://play.google.com/store"><img src="~/assets_/google_play 1.png" alt=""></a>
            </nav>
        </div>
    </footer>
}

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
