@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/login.css">


<div class="titulo_pagina">
    <h1>@ViewData["Title"]</h1>
</div>

<header></header>

<div class="container container2">
            <div class="box_conteudo">
                <div class="box_img">
                    <img class="img_header" src="~/assets_/logo.png" alt="logo">
                </div>
                <form method="POST" action='@Url.Action("Logar")'>
                <div class=" box_inputs margin ">
                    <input type="text" placeholder="Email" name="Email" required />
                </div>
                <div class="box_inputs margin2">
                    <input type="password" placeholder="Senha" name="Senha" required>
                </div>
                <div>
                    <button class="btn_entrar margin2" type="submit">Entrar</button>
                </div>
                </form>
                <div class="box_linha">
                    <hr>
                    <span>ou</span>
                    <hr>
                </div>
                <div class="box_senha">
                    <a href="">Esqueceu a senha ?</a>
                </div>
            </div>
        </div>
        <div class="container container3 box_conteudo">
            <div class="box_cadastrar">
                <span>não tem uma conta ?<a href="">cadastre-se</a></span>
            </div>
        </div>
        <div class="container box_conteudo box_obtenha">
            <h4>Obtenha o aplicativo.</h4>
        </div>
        
            <div class="box_imagens">
                <img class="img1" src="~/assets_/app_store 1.png" alt="apple">
                <img class="img1" src="~/assets_/google_play 1.png" alt="android">
            </div>

<footer>
    <span>.</span>
</footer>

