@{
    ViewData["Title"] = "Home Page";
}
@* <header></header> *@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-area="" asp-controller="Login" asp-action="Logar">Logar</a>
    <a asp-area="" asp-controller="Cadastro" asp-action="Cadastrar">Cadastrar</a>
</div>
